@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
#root,
.app,
.container {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.container {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
}

.loginForm {
    box-sizing: border-box;
    width: 100%;
    max-width: 378px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 370px;
    margin-bottom: 400px;
}

.inputField {
    padding-top: 16px;
}

.input {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #1189de;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
}

.submitButton {
    padding-top: 16px;
}

.btn {
    width: 100%;
    min-width: 280px;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px #1189de;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.logoFont {
    background-color: #282c34;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Grand Hotel', cursive;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    font-size: 30px;
}
