.profile {
    background-color: white;
    max-width: 650px;
    border: 1px solid lightgrey;
    margin-bottom: 30px;
    justify-content: center;
}

.profile__header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile__quote {
    padding: 10px;
}
