.userpage__headerImage {
    object-fit: contain;
    width: 5%;
    background-color: white;
    border-bottom: 1px solid #565656;
    border-right: 1px solid #565656;
    padding: 20px;
}

.userpage__post {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userpage__profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userpage__logoFont {
    background-color: white;
    font-weight: bold;
    font-family: 'Grand Hotel', cursive;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    font-size: 30px;
}

.userpage__logoFont a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
