.userpage{
    background-color:#fafafa;
}

.userpage__post {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userpage__profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userpage__header {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
} 

.userpage__logo a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Grand Hotel', cursive;
}

.userpage__logo a:active{
    color: gray;
}

.userpage__header a{
    text-decoration: none;
    color: black;
}

