.userpage{
    background-color:#fafafa;
}

.userpage__post {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userpage__profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userpage__header {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
} 

.userpage__logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Grand Hotel', cursive;
    object-fit: contain;
    
}

.userpage__logo a:active{
    color: gray;
}

.userpage__header a{
    text-decoration: none;
    padding-top: .6rem;
    color: black;
}

@media(min-width:730px){
    .userpage__logo {
        padding-left: 45px;
    }
    .userpage__header a{
        padding-right: 45px;
    }

}

@media(min-width:1100px){
    .userpage__logo {
        padding-left: 300px;
    }
    .userpage__header a{
        padding-right: 300px;
    }

} 


