/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
/.idea/workspace.xml
npm-debug.log
yarn-error.log
